<mat-toolbar>Pacientes</mat-toolbar>
<router-outlet></router-outlet>

<mat-table [dataSource]="dataSourcePaciente" matSort>
  <ng-container matColumnDef="idPaciente">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.idPaciente}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombres">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombres}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellidos">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <!--button mat-button color="primary" [routerLink]="['edicion', row.idPaciente]">Actualizar</button>
      <button mat-button color="accent" (click)="eliminar(row.idPaciente)">Eliminar</button-->
      <button mat-button color="primary" matTooltip="actualizar..." [routerLink]="['edicion', row.idPaciente]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color="accent" matTooltip="eliminar..." (click)="eliminar(row.idPaciente)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

<!-- (routerLink) palabra reservada de Angular, que permite realizar la navegacion-->
<button mat-fab color="accent" style="float: right" routerLink="/paciente/nuevo">
  <mat-icon>create</mat-icon>
</button>