<mat-card>Ingrese los datos:</mat-card>
<!-- formGroup]="form"  Permite enlazar el formulario HTML con la variable en el .TS -->
<!-- #frmPaciente="ngForm" Esto es para ponerle un apodo al formulario -->
<form class="example-container" [formGroup]="formPaciente" #frmPaciente="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" required formControlName="nombres">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos" required formControlName="apellidos">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName="dni" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dirección" required formControlName="direccion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" required formControlName="telefono" type="number" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required formControlName="email" type="email" >
  </mat-form-field>

  <!-- [disabled]="frmPaciente.invalid"  Hasta que elr formulario no esta habilitado, 
    es decir sus campos cumplan las validaciones, el boton no se habilita. -->
  <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  
  <button mat-raised-button color="accent" routerLink='/paciente' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>